@import 'reset.scss';
@import 'variable.scss';


@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

// Header Start 

header {
    background-color: $gray;
    padding: 20px 0;

    .icons {
        width: 60%;
        margin: auto;
        display: flex;

        .icon {
            width: 50%;
        }

        .i-1 {
            text-align: left;
        }

        .i-2 {
            text-align: right;
        }
    }

    .center {
        text-align: center;
        margin-top: 280px;

        h1 {
            font-size: 1.25em;
            letter-spacing: 15px;
            color: white;
            font-weight: 200;
        }

        p {
            font-size: 0.8em;
            font-weight: 200;
            color: white;
            letter-spacing: 5px;
            margin-top: 35px;
        }

        a {
            display: inline-block;
            text-transform: uppercase;
            padding: 16px 35px;
            text-decoration: none;
            letter-spacing: 4px;
            color: $gray;
            margin-top: 50px;
            background-color: $yellow;
        }

        img {
            display: block;
            margin: auto;
            margin-top: 250px;
        }
    }
}

// Header End


// Main Start 

main {
    padding-top: 170px;
    padding-bottom: 220px;
    background-color: white;
    text-align: center;

    p {
        font-size: 0.9em;
        color: #939393;
        width: 30%;
        margin: auto;
        line-height: 30px;
        margin-top: 95px;
    }
}

// Header End 


// Services Start 

#services {
    padding-bottom: 35px;
    padding-top: 80px;
    background-color: #f4f4f4;

    #sub-services {
        text-align: center;
        width: 60%;
        margin: auto;

        h1 {
            font-size: 1.25em;
            letter-spacing: 15px;
            text-transform: uppercase;
            font-weight: 200;
            margin-top: 35px;
            color: $gray;
        }

        p {
            margin-top: 45px;
            font-size: 0.9em;
            color: #939393;
            line-height: 30px;
        }
    }
}

// Bases start

.base-ItemAndSkills {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin font_Style {
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
}

@mixin color_Style_gray {
    color: gray;
}

.base-Item {
    width: 23.5%;
    text-align: center;
    box-shadow: 0 0 5px lightgray;
    box-sizing: border-box;
    padding: 25px;
    border: 0;
    background-color: white;
}

// Bases End

.item {
    @extend .base-Item;
    padding-bottom: 20px;
}

#Skills {
    @extend .base-ItemAndSkills;
    margin-top: 30px;

    .item {
        @extend .base-Item;
        padding-top: 15px;
        padding-right: 12px;
        padding-left: 12px;

        p {
            letter-spacing: 2px;
            font-size: 0.8em;
            text-align: left;
            margin-bottom: 15px;

        }

        .outSection {
            background-color: $lightGray;
            width: 100%;
            height: 0.5vh;
            margin-bottom: 20px;

            .inSectionk {
                background-color: $yellow;
                height: 0.5vh;
                text-align: left;
            }
        }
    }

    .i-1 {
        .outSection {
            .i-1 {
                width: 85%;
            }

            .i-2 {
                width: 98%;
            }

            .outSection .i-3 {
                width: 72%;
            }
        }
    }


    .i-2 {
        .outSection {
            .i-1 {
                width: 97%;
            }

            .i-2 {
                width: 78%;
            }

            .i-3 {
                width: 89%;
            }
        }
    }

    .i-3 {
        .outSection {
            .i-1 {
                width: 98%;
            }

            .i-2 {
                width: 98%;
            }

            .i-3 {
                width: 76%;
            }
        }
    }


    .i-4 {
        .outSection {
            .i-1 {
                width: 79%;
            }

            .i-2 {
                width: 82%;
            }

            .i-3 {
                width: 77%;
            }
        }
    }

}

#items {
    @extend .base-ItemAndSkills;
    margin-top: 85px;

    .item {
        h1 {

            @include font_Style;
            margin-top: 35px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 7px;
            color: $gray;
        }

        p {
            @include font_Style;
            @include color_Style_gray();
            margin-top: 45px;
        }
    }
}

// Services End 


// Stats Start 

#Stats {
    background-color: $gray;
    padding: 85px 0px;

    #StartsItems {
        @extend .base-ItemAndSkills;

        .item {
            @extend .base-Item;
            padding: 0px;

            h2 {
                font-size: 1em;
                padding-top: 15px;
            }

            p {
                margin-top: 13px;
                font-family: "Raleway", sans-serif;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: $gray;
                margin-bottom: 20px;
            }
        }
    }
}

// Stats End 


// Portfolio Start 

// Base Start

.base-liner {
    background-color: black;
    height: 0.05vh;
}

.base-border {
    margin-top: 25px;
    margin-bottom: 30px;
}

.base-iler {
    justify-content: center;
    text-align: center;
}

// Base End

#Portfolio {
    padding-bottom: 35px;
    padding-top: 80px;
    background-color: #ffffff;

    #sub-Portfolio {
        text-align: center;
        width: 60%;
        margin: auto;

        h1 {
            font-size: 1.25em;
            letter-spacing: 15px;
            text-transform: uppercase;
            font-weight: 200;
            margin-top: 35px;
            color: $gray;
        }

        p {
            margin-top: 45px;
            font-size: 0.9em;
            color: #939393;
            line-height: 30px;
        }
    }

    .box {
        width: 60%;
        margin: auto;
        display: flex;
        margin-top: 90px;
        justify-content: space-between;
        align-items: center;

        .Boxitem {
            width: 40%;

            .border {
                display: flex;

                p {
                    width: 45%;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 0.8em;
                    margin-left: 20px;
                    color: $gray;
                }
            }
        }

        .i-1,
        .i-3 {
            @extend .base-iler;

            .liner {
                @extend .base-liner;
            }

            .border {
                @extend .base-border;
            }
        }
    }

    .Colors {
        width: 100%;
        margin-top: 90px;
        height: 31vh;
        display: flex;

        .color {
            width: 17%;

            .inColor {
                height: 80%;
                background-color: $yellow;
                width: 70%;
                z-index: 2;
                position: absolute;
                margin-top: 30px;
                margin-left: 35px;
            }

            .words {
                margin-top: 45px;
                margin-left: 11px;
                width: 90%;
                height: 51%;
                background-color: #ffffff;
                z-index: 4;
                position: relative;
                text-align: center;
                padding-top: 35px;

                h2 {
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    font-size: 0.8em;
                    color: $gray;
                }

                p {
                    font-size: 0.8em;
                    margin-top: 30px;
                    color: gray;
                }
            }
        }

        .i-1 {
            position: relative;
        }

    }

    .aSec {
        width: 100%;
        margin: auto;
        text-align: center;

        a {
            text-align: center;
            display: inline-block;
            text-transform: uppercase;
            padding: 16px 35px;
            text-decoration: none;
            letter-spacing: 4px;
            color: $gray;
            margin-top: 85px;
            background-color: $yellow;
        }
    }
}

// Portfolio End


// Video Start 

#Video {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 85px;
    background-color: $gray;
    padding-top: 145px;
    padding-bottom: 150px;

    a {
        text-align: center;
        text-decoration: none;
        border: 2px solid $yellow;
        color: $yellow;
        text-transform: uppercase;
        padding: 30px 45px;
        letter-spacing: 13px;
        background-color: $gray;
    }
}

// Video End


//Last Section Start


#LastSection {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 200px;

    .last1 {
        width: 70%;
        margin: auto;

        h2 {
            margin-top: 35px;
            font-family: "Raleway", sans-serif;
            text-transform: uppercase;
            letter-spacing: 15px;
            font-weight: 200;
            color: $gray;
        }

        p {
            margin-top: 40px;
            font-size: 0.9em;
            color: #939393;
            line-height: 20px;
            letter-spacing: 2px;
            width: 80%;
            margin: auto;
        }
    }

    .BackYellow {
        background-color: $yellow;
        width: 100%;
        height: 250px;
        position: relative;
        top: 85%;
        z-index: 0;
        margin-top: 275px;

        .lastItem3 {
            width: 40%;
            margin: auto;
            text-align: center;
            z-index: 1;

            .i-1 {
                p {
                    padding-bottom: 90px;
                    font-size: 1.2em;
                    padding-top: 55px;
                    padding-left: 75px;
                    padding-right: 75px;
                    line-height: 20px;
                    background-color: $gray;
                    color: $lightGray;
                }

            }

            .i-2 {
                p {
                    margin-top: 85px;
                    padding-right: 55px;
                    padding-left: 95px;
                    font-size: 0.8em;
                    line-height: 15px;
                    letter-spacing: 2px;
                    color: $gray;
                }

                h2 {
                    font-size: 1em;
                    margin-top: 35px;
                    text-align: left;
                    padding-left: 115px;
                    letter-spacing: 2px;
                    font-weight: 350;
                    font-family: "Raleway", sans-serif;
                    text-transform: uppercase;
                    padding-bottom: 70px;
                }
            }
        }

        .box1 {
            position: absolute;
            left: 100px;
            top: -175px;
        }

        .box2 {
            position: absolute;
            right: 100px;
            bottom: -200px;
        }

    }
}

//Last Section End

// Footer Start


footer {
    margin-top: 55px;
    padding-top: 95px;
    width: 100%;
    background-color: $gray;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    section {
        width: 61%;
        height: 62%;
        margin: auto;
    }

}

@mixin colorAndFont {
    color: $lightGray;
    font-family: 'Raleway', sans-serif;
}


footer>section>div {
    display: inline-block;
    width: 31%;
}

footer>section>div :nth-child(2) {
    margin-top: 30px;
    @include colorAndFont();
}

footer>section>div :nth-child(3) {
    margin-top: 57px;
    @include colorAndFont();
}

footer>section>div :nth-child(4) {
    margin-top: 11px;
    @include colorAndFont();
}

.footer-col {
    width: 16%;
}

.footer-col>h4 {
    @include colorAndFont();
    margin-left: 17px;
}

.footer-col :nth-child(2) li {
    margin: 17px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    @include colorAndFont();
}

.fc-2 {
    position: relative;
    bottom: 55px;
}

.fc-3 {
    width: 31%;
    position: relative;
    top: -45px;

    h4 {
        margin: 0;
    }
}

.fc-3 :nth-child(2) {
    font-family: 'Raleway', sans-serif;
}

.email {
    width: 97%;
    margin: auto;
    background-color: #ffe500;
    text-align: center;
    border-radius: 20px;

    p {
        display: inline-block;
        margin-top: 15px;
        padding-bottom: 15px;
        color: #1b1b1b;
        font-family: 'Raleway', sans-serif;
    }
}

.icon a {
    margin-left: 10px;
}


// Footer End 